* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.load {
  width: 200px;
  height: 200px;
}

.gallery {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 32px;
}

.input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-right: 8px;
  padding: 8px 16px;
}
input:hover {
  border-color: #000000;
}

input:focus {
  border-color: #4e75ff;
  outline: transparent;
  outline-offset: 4px;
}
.gallery-image {
  width: 360px;
  height: 152px;
}

.gallery-ul {
  margin-top: 4px;
  margin-bottom: 4px;
}

.gallery-items {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  transition: transform 250ms linear;
}
.gallery-items:hover {
  transform: scale(1.03);
}

.gallery-value {
  text-align: center;
  color: #2e2f42;
}
.gallery-title {
  color: #2e2f42;
}

.list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.list-item {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button {
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: transparent;
  width: 91px;
  height: 40px;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-left: 0;
  transition: background-color 250ms linear;
}
.div {
  display: flex;
}
.gallery-ul {
  display: flex;
  justify-content: space-around;
}

.loader {
  color: #4e75ff;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  right: 70px;
  bottom: 10px;
  height: 24px;
  width: 5.15px;
  background: currentColor;
}
.loader::after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  left: 125px;
  top: 2px;
  border-radius: 50%;
  background: red;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: translateY(8px) scaleY(1) scaleX(1.25);
  }
  25%,
  75% {
    transform: translateY(-5px) scaleY(1.2) scaleX(1);
  }
  50% {
    transform: translateY(-10px) scaleY(1) scaleX(1);
  }
  100% {
    transform: translateY(8px) scaleY(0.8) scaleX(0.8);
  }
}

.hide {
  display: none;
}

.load-more {
  width: 125px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
